<!-- form.html -->
<html>
<head>
  <title>Create New Lead</title>
  <!-- Include Bootstrap CSS -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #f8f9fa; /* Slightly grey background color */
    }
    .form-container {
      max-width: 400px;
      width: 100%;
      border: 1px solid #ccc; /* Border around the form */
      border-radius: 4px;
      background-color: #fff; /* White background color for the form */
      padding: 20px;
    }
    .form-container label {
      font-weight: bold;
      margin-bottom: 5px;
    }
    .submit-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <%- include('Navbar.ejs') %>
  <div class="container form-container">
    <h1 class="text-center">Create New Lead</h1>
    <form action="/leads?frontend=1" method="POST">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter the name of the lead" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email"  placeholder="Enter the email of the lead" required>
      </div>
      <div class="form-group">
        <label for="organizationUrl">Organization Url:</label>
        <input type="text" class="form-control" id="organizationUrl" name="organisationUrl" placeholder="Enter organization URL" required>
      </div>
      <div class="form-group">
        <label for="organizationUrl">Organization Name:</label>
        <input type="text" class="form-control" id="organizationUrl"  name="organisationName" placeholder="Enter the name of the organisation" required>
      </div>
      <div class="form-group">
        <label for="organizationUrl">Employee Count</label>
        <input type="text" class="form-control" id="leadLinkedinId"   name="employeeCount" placeholder="Enter the number of employee in organisation" >
      </div>
      <div class="form-group">
        <label for="organizationUrl">Industry Type</label>
        <input type="text" class="form-control" id="leadLinkedinId"  name="industryType" placeholder="Enter organization's industry type" >
      </div>
      <div class="form-group">
        <label for="organizationUrl">Keywords</label>
        <input type="text" class="form-control" id="leadLinkedinId"  name="keywords" placeholder="Enter organization's associated keywords" >
      </div>
      <div class="form-group">
        <label for="organizationUrl">Context</label>
        <input type="text" class="form-control" id="leadLinkedinId"  name="context" placeholder="Enter some context about the organization" >
      </div>
      <div class="form-group">
        <label for="prompt">prompts</label>
    <select class="form-control" id="prompt" name="promptAlias">
      <% for (let i = 0; i < prompts.length; i++) { %>
      <option value="<%= prompts[i].alias %>"><%= prompts[i].alias %></option>
      <% } %>

    </select>
      </div>
      <div class="submit-container">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      <div id="error-container">
        <% if (error) { %>
          <p class="error-message"><%= error %></p>
        <% } %>
        </div>
    </form>
</div>

  <!-- Include Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
