<%- include('Navbar.ejs') %>

<style>
label {
	display: block;
	width: 60vw;
	max-width: 300px;
	margin: 0 auto;
	background-color: rgb(147, 156, 151);
	border-radius: 2px;
	font-size: 1em;
	line-height: 2.5em;
	text-align: center;
}

label:hover {
	background-color: rgb(90, 205, 174);
}

label:active {
	background-color: mediumaquamarine;
}

input {
	border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: rgb(219, 213, 213);
}
  </style>

<form action="/leads/bulk-upload?frontend=1" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="csvFile">Select CSV File:</label>
    <input type="file" class="form-control-file" id="csvFile" name="data" accept=".csv" required>
  </div>
  <div class="text-center">
  <button type="submit" class="btn btn-primary text-center">Upload</button>
</div>
</form>